.Weather {
  margin-top: 30px;
  padding-top: 20px;
  padding: 16px;
  background: radial-gradient(ellipse at bottom, #0d1e31, #111);
  border-radius: 7px;
  color: #c3d4e6;
  font-family: "Cormorant Garamond", serif;
  box-shadow: 7px 6px 4px #9ea9b6;
}
.Weather h2 {
  font-size: 39px;
  margin-top: -10px;
  font-family: "Tangerine", cursive;
  color: #c3d4e6;
}
.Weather h4 {
  margin-bottom: 20px;
}
.Weather hr {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Weather form .row {
  padding-top: 15px;
  padding-bottom: 15px;
  --bs-gutter-x: 0.5rem;
}

.Weather .box {
  margin-top: -2px;
  margin-bottom: 7px;
  margin-left: -13px;
  margin-right: -13px;
}
.Weather .with-linear-gradient {
  border-style: solid;
  border-width: 2px;
}
.Weather .crystal-ball {
  display: inline-block;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Weather .begin-search {
  padding-left: 65px;
}
.Weather .form-control {
  color: #c3d4e6;
  background: transparent;
}
.Weather .btn {
  --bs-btn-padding-x: 1.75rem;
}
.Weather .submit-button {
  border: 1px solid;
  color: #0d1e31;
  background: #c3d4e6;
}
.Weather .submit-button:hover {
  background-color: transparent;
  border: #c3d4e6 1px solid;
  color: #c3d4e6;
  transition: ease-in-out 200ms;
}
@media (max-width: 600px) {
  .Weather {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .Weather form .row {
    --bs-gutter-x: 0.5rem;
  }

  .Weather .begin-search {
    padding-left: 28px;
  }
}
