.Weather {
  margin-top: 30px;
  padding-top: 20px;
  padding: 16px;

  border-radius: 7px;
  background-color: #090909;
  color: #aaa9ad;
  font-family: "Megrim", cursive;
}
.Weather h1 {
  font-size: 65px;
  margin-top: 20px;
  font-family: "Mea Culpa", cursive;
  color: #aaa9ad;
}
.Weather hr {
  max-width: 70%;
  margin-left: 70px;
}
.Weather form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Weather .box {
  margin-top: -2px;
  margin-bottom: 7px;
  margin-left: -13px;
  margin-right: -13px;
}
.Weather .with-linear-gradient {
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(
      45deg,
      #a8a9ad,
      #b4b5b8,
      #c0c0c3,
      #d7d7d8,
      #e3e3e3
    )
    1;
}
.Weather .crystal-ball {
  display: inline-block;
  background: #090909;
  border: #aaa9ad 1px solid;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 1px 1px #bdbebe;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Weather .submit-button {
  background: #aaa9ad;

  border: #aaa9ad 1px solid;
  color: #090909;
}
.Weather .submit-button:hover {
  background: #090909;
  border: #aaa9ad 1px solid;
  color: #aaa9ad;
  transition: ease-in-out 140ms;
}
.Weather .current-button {
  background: #aaa9ad;
  border: #aaa9ad 1px solid;
  color: #090909;
}
.Weather .current-button:hover {
  background: #090909;
  border: #aaa9ad 1px solid;
  color: #aaa9ad;
  transition: ease-in-out 140ms;
}
